.gato1opt{
    line-height: 1.5em;
    padding: 0 0 0 80px;
    background: url(./images/img/gato1_opt.jpg) no-repeat left top !important;
    min-height: 70px;
    height: auto !important;
    height: 70px;
    margin-bottom: 12px;
}

.gato2opt{
    line-height: 1.5em;
    padding: 0 0 0 80px;
    background: url(./images/img/gato_comiendo_opt.jpg) no-repeat left top !important;
    min-height: 70px;
    height: auto !important;
    height: 70px;
    margin-bottom: 12px;
}

.gato3opt{
    line-height: 1.5em;
    padding: 0 0 0 80px;
    background: url(./images/img/gato_bebiendo_opt.jpg) no-repeat left top !important;
    min-height: 70px;
    height: auto !important;
    height: 70px;
    margin-bottom: 12px;
}